/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "src/styles/variables";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100vh !important;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success {
  color: $success;
}

.danger {
  color: $danger;
}

