<section class="stock-news">
  <div class="stock-news__header">
    <h2 class="stock-title">
      <i class="fas fa-chart-area"></i>
      <span class="stock-name">{{ chosenId }}</span>
    </h2>

    <div class="stock-today">
      <h2 class="title">LAST:</h2>

      <span
        class="percent"
        [ngClass]="{
          success: showLastValues[0]?.percent >= 0,
          danger: showLastValues[0]?.percent < 0
        }"
      >
        <i
          *ngIf="showLastValues[0]?.percent >= 0"
          class="fas fa-long-arrow-alt-up"
        ></i>
        <i
          *ngIf="showLastValues[0]?.percent < 0"
          class="fas fa-long-arrow-alt-down"
        ></i>
        {{ showLastValues[0]?.percent | number: "1.0-2" }}%</span
      >

      <span
        class="diff"
        [ngClass]="{
          success: showLastValues[0]?.diff >= 0,
          danger: showLastValues[0]?.diff < 0
        }"
      >
        <i
          *ngIf="showLastValues[0]?.diff >= 0"
          class="fas fa-long-arrow-alt-up"
        ></i>
        <i
          *ngIf="showLastValues[0]?.diff < 0"
          class="fas fa-long-arrow-alt-down"
        ></i>
        {{ showLastValues[0]?.diff | number: "1.0-2" }}%</span
      >

      <span class="price">{{ showLastValues[0]?.value }}</span>
    </div>
  </div>
</section>

<section class="info">
  <div style="display: flex; margin-top: 1rem">
    <ul class="type-selector">
      <li *ngFor="let item of modes" [ngClass]="{ selected: item.selected }">
        <button (click)="switchMode(item.title)">{{ item.title }}</button>
      </li>
    </ul>
  </div>

  <div class="info-container">
    <div class="chart-container">
      <app-stock [values]="currentValues" [predicts]="predicts"></app-stock>
    </div>

    <div class="table-container">
      <table style="width: 100%;">
        <tr *ngFor="let item of showLastValues">
          <td>{{ item.date }}</td>

          <td
            [ngClass]="{ success: item.percent >= 0, danger: item.percent < 0 }"
          >
            <i *ngIf="item.percent >= 0" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="item.percent < 0" class="fas fa-long-arrow-alt-down"></i>
            {{ item.percent | number: "1.2-2" }}%
          </td>

          <td
            class="danger"
            [ngClass]="{ success: item.diff >= 0, danger: item.diff < 0 }"
          >
            <i *ngIf="item.diff >= 0" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="item.diff < 0" class="fas fa-long-arrow-alt-down"></i>
            {{ item.diff | number: "2.2-2" }}
          </td>

          <td class="price">{{ item.value | number: "1.2-2" }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section class="stock-news" style="margin-top: 2rem">
  <div class="stock-news__header">
    <h2 class="stock-title">
      <i class="fas fa-glasses"></i>
      <span class="stock-name">Dự đoán tăng trưởng giá {{ chosenId }}</span>
    </h2>
  </div>

  <section class="info" style="margin-bottom: 5rem">
    <div class="info-container">
      <div class="chart-container">
        <app-predictor
          [values]="monthPrediction"
          [arrDate]="arrDate"
        ></app-predictor>
      </div>

      <div class="table-container">
        <table>
          <tr *ngFor="let item of monthPrediction; index as index">
            <td>{{ arrDate[index] }}</td>

            <td [ngClass]="{ success: predictRatio[index].percent >= 0, danger: predictRatio[index].percent < 0 }">
              <i
                *ngIf=" predictRatio[index].percent >= 0"
                class="fas fa-long-arrow-alt-up"
              ></i>
              <i
                *ngIf=" predictRatio[index].percent < 0"
                class="fas fa-long-arrow-alt-down"
              ></i>
              {{ predictRatio[index].percent | number: "1.2-2" }}%
            </td>

            <td [ngClass]="{ success: predictRatio[index].diff >= 0, danger: predictRatio[index].diff < 0 }">
              <i
              *ngIf=" predictRatio[index].diff >= 0"
              class="fas fa-long-arrow-alt-up"
            ></i>
            <i
              *ngIf=" predictRatio[index].diff < 0"
              class="fas fa-long-arrow-alt-down"
            ></i>{{ predictRatio[index].diff | number: "1.2-2" }}
            </td>

            <td class="price">{{ item | number: "1.2-2" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</section>
