<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
  >
    <div class="container app-header">
      <div class="app-title">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/images/logo.png" />
        </a>
        <h1>AI Stock Prediction</h1>
      </div>

      <div class="search-wrapper">
        <div class="form-search" [ngClass]="{ focused: isFocused }">
          <form class="input-wrapper" [formGroup]="searchForm">
            <input
              formControlName="keyword"
              (focus)="isFocused = true"
              (focusout)="focusOut()"
              class="search-input"
              placeholder="Nhập mã CP ..."
            />

            <div class="icon">
              <i [hidden]="isSearching" class="fab fa-sistrix"></i>
              <div [hidden]="!isSearching" class="spinner-grow">
                <span class="sr-only">...</span>
              </div>
            </div>
          </form>

          <ul class="suggest" [hidden]="!suggestList || !isFocused">
            <li
              [routerLink]="[item]"
              routerLinkActive="active"
              [ngClass]="{ disabled: isSearching }"
              *ngFor="let item of suggestList"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
